.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.imagedisplay {
  display: flex;
}

.imageRadius{
  border-radius: 20px;
}

.pointer{
  cursor: pointer;
}

.div-choose-item{
  padding: 4px;
  background: #e8e8e8;
}

.tab{
  display: flex;
}
.tab-item{
  border-radius: 12px;
  padding: 2px 12px;
  cursor: pointer;
  color: #ccc;
}
.tab-active{
  background: #3fef3f;
  color:black;
  border-radius: 12px;
  padding: 2px 12px;
  margin-bottom:10px;
}

.extraItem-div{
  background: #f3f3f3;
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 2px;
    cursor: pointer;
}

.chooseItem-div{
  background: #f3f3f3;
    padding: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}

.btn-plus-minus {
  color: #6c757d !important;
  background-color: #ffffff !important;
  border-color: #6c757d !important;
}
.input-checkbox{
  display: flex;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
